<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Quisquam iusto possimus a sunt quam perferendis sed autem rem 
            voluptatibus nulla obcaecati odit, sint saepe? Non porro voluptates 
            aperiam ratione est. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore, quas eveniet nostrum facilis amet nobis, eos pariatur accusamus corrupti 
            aperiam nesciunt beatae quos voluptatem minima quae, molestias qui adipisci tempora!</p>
    </div>
</div>