<style>
.jumbotronC{
     background-color: whitesmoke;
     border-radius:8px; 
     padding:25px;
}
</style>

<div class="jumbotronC jumbotron mt-4">
    <h1 class="display-4"> Notes app Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, reiciendis! 
        Libero iure atque nostrum unde quos commodi optio, culpa excepturi, 
        suscipit et fugit amet praesentium voluptas temporibus molestias fugiat ipsum!</p>
        <a href="mi portafolios virtual" class="btn btn-primary btn-lg">Mi Portafolios</a>
</div>